.header {
    color: white;
    top: 0;
    z-index: -1;
    width: 100vw;
    background-color: black;
    height: 100vh;
    display: flex;
    margin-bottom: 2rem;
}

.header-img {
    max-width: 50vw;
    max-height: 100vh;
}

.main-title {
    position: absolute;
    right: 15vw;
    top: 30vh;
    max-width: 25vw; 
    max-height: 100vh;
    z-index: 0;
}

.page-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.tagline {
    font-size: 2rem;
    line-height: 4rem;
}
